body
{
    margin: 0;
    padding: 0;
}

.container-green
{
    background-color: green;
    color: white;
    width: 40%;
    margin: 15px auto;
    font-size: 14px;
}

.container-blue
{
    background-color: blue;
    color: white;
    width: 40%;
    padding: 40px;
    margin: 15px auto;
    font-size: 14px;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}