body
{
    margin: 0;
    padding: 0;
}

.container-green
{
    width: 500px;
    margin: 15 auto;
    font-size: 14px;
    background-color: white;
    color: black;
    padding: 10px;
}

.container-blue
{
    width: 400px;
    padding: 40px;
    margin: 15 auto;
    font-size: 14px;
    border: 8px solid blue;
    background-color: white;
    color: black;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}