body
{
    margin: 0;
    padding: 0;
}

.container
{
    background-color: blue;
    color: white;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}